
h1{
    padding-top: 20px;
    color:rgb(253, 253, 253);
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

h3{
    color:rgb(245, 237, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h4
{
    color:rgb(245, 237, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

body {
    background-color:rgb(52, 9, 74);
} 

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
   align-items: center;
}

.grid-item {
        height: 100%;
        padding: 1px;
        align-items: center;
        height: 100%;
     }


button {
    border-radius: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: smaller;
    background-color: transparent;
    cursor: pointer;
    border: black;
}

/*glow effect*/
.button:hover {
    transition: 0.3s;
    box-shadow: 0 7px 20px rgba(255, 255, 255, 0.4);}

/*hover txt*/    
    .button {
        position: relative;
        border: none;
        transition: 0.1s;
        border: black;
      }
      
      .button:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        height: 20px;
        width: 70px;
        background-color: black;
        color: #fff;
        text-align: center;
        transition: 0.1s;
        border-radius: 7.5px;
        padding: 5px 0;
       
      
        position: absolute;
        z-index: 1;
        top: 290px;
        left: 20px;
      }
      
      .button:hover:before {
        opacity: 1;
        visibility: visible;
      }